$font-family-base: Arial, Tahoma, Verdana, sans-serif;
$font-weight-base: 400;
$font-size-base: 14px;
$line-height-base: 1.42857143;

$body-color: #333;
$body-bg: #fff;

$link-color: #11638c;
$link-hover-color: #00f;

$header-bg-color: #0bacfd;

$main-bg-color: #ebebf3;