.btn {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    outline: 0
}

.btn-primary, .btn-success, .btn-danger {
    color: #fff !important;
}

.btn-primary {
    background-color: #2e8ce3;

    &:hover {
        background-color: #1a8bc3;
    }

    &:active {
        background-color: #136ec3
    }
}

.btn-success {
    background-color: #24b662;

    &:hover {
        background-color: #19a256;
    }

    &:active {
        background-color: #1c8c4c
    }
}

.btn-danger {
    background-color: #d9534f;

    &:hover {
        background-color: #c9302c;
    }

    &:active {
        background-color: #ae2c2b
    }

}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
        background-color: #e6e6e6;
    }

    &:active {
        background-color: #c9c9c9
    }
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    & > .btn:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .btn-group > .btn:first-child {
        margin-left: 0
    }

    & > .btn {
        position: relative;
        float: left
    }

    & > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0
    }
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: -1px
}
