.btn {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: none;
    box-shadow: 0 1px darken(#f4f4f4, 13%);
    outline: 0;

    &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    &[disabled] {
        opacity: 0.75;
        cursor: not-allowed;
    }
}

.btn-primary, .btn-success, .btn-danger {
    color: #fff !important;
}

.btn-primary {
    background: #0399f8;

   &:hover {
        background-color: darken(#0399f8, 5%);
    }
}

.btn-success {
    background-color: #24b662;

    &:hover {
        background-color: darken(#24b662, 5%);
    }
}

.btn-danger {
    background-color: #d9534f;

    &:hover {
        background-color: darken(#d9534f, 5%);
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover {
        background-color: #e6e6e6;
    }
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    & > .btn:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .btn-group > .btn:first-child {
        margin-left: 0
    }

    & > .btn {
        position: relative;
        float: left
    }

    & > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0
    }
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: -1px
}
